.venv/
checkpoints/
dataset/
src/__pycache__/
src/data/__pycache__/
src/detection/__pycache__/
src/models/__pycache__/
src/training/__pycache__/
src/visualization/__pycache__/
src/config/__pycache__/
src/test.py
kitti.yaml
logs/
debug_*.png
aug_check.png
video/
0008/
diagnostics/
100k/test/
100kLabels/
100k/
src.zip